<!-- 
-
-
Home Page
Sumeet Gill
-
-
-->
<div data-bb-type="screen" data-bb-effect="fade"> 
	<div data-bb-type="title" data-bb-caption="Tip Calculator" ></div> 
		<!-- Main Section -->
		<div data-bb-type="round-panel" id="Main">
			<div data-bb-type="panel-header">Enter Subtotal and either Tip ($) or (%).</div>
			<div id="inputForm">
				<div data-bb-type="label-control-container">
					<div data-bb-type="label">Subtotal ($):</div> 
						<input type="number" id="subTotal"/>
					<div data-bb-type="label">Tax (%):</div> 
						<input type="number" id="taxPercentage"/>				
					<div data-bb-type="label">Tip (%):</div> 
						<input type="number" id="tipPercentage"/>				
					<div data-bb-type="label">Tip Amount ($):</div> 
						<input type="number" id="tipAmount"/>
					<div data-bb-type="label">Amount Of People Splitting Bill:</div>
						<input type="number" value="1" id="splitAmount"/>
					<div id="buttons" align="center">
						<div data-bb-type="button" style="width:40%; float:left" id="btnCalculate" onclick="calculateTip()">Calculate</div>
						<div data-bb-type="button"  id="btnClear" style="width:40%; float:right" onclick="clearForm()">Clear</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Settings Section -->
		<div data-bb-type="round-panel" id="Settings" style="display:none;"> 
			<div data-bb-type="panel-header">Calculations</div>
			<div id="output">Go to the "Main" tab and enter your values then click "Calculate" to see the calculations here. 
			<br />
			<br />
			You can save time by setting your favourites. To do so, swipe down from the top to access settings. <img src="images/scroll.png" />
			<br />
			<br />
			If you are in a location that does not have tax or tax is included in the total, you are able to leave the tax box blank.
			</div>
			 <div data-bb-type="image-list" id="outputList" data-bb-images="none">

			 </div>

			<div id="shareButton" align="center"></div>
		</div>	
		<!-- About Section -->
		<div data-bb-type="round-panel" id="About" style="display:none;"> 
			<div data-bb-type="panel-header">App Version</div>
				<div id="about"></div>
			<br />
			<div data-bb-type="panel-header">Contact</div>
				<div id="contact">Contact me via <a href="mailto:apps@sumeetgill.biz?subject=Tip Calculator Feedback">email</a> for any questions/bug reports.</div>
			<br />
			<div data-bb-type="panel-header">Credits</div>	
				<div id="credits">App created by: Sumeet Gill.
				<br />
				<br />
				Icons courtesy of: <a href="http://raindropmemory.deviantart.com/" target="_new">Raindropmemory.</a>
				</div>
				<br />
			<div data-bb-type="panel-header">Appreciation</div>				
				Thank you for downloading my app. I hope you enjoy it! Please rate it in BlackBerry World! <img src="images/rabbit.png" height="71" width="71"/>
		</div>
	<div id ="actionBar" data-bb-type="action-bar">
  		<div id = "mainBar" data-bb-type="action" data-bb-style="tab" data-bb-img="images/icon.png" onclick="selectMain()">Main</div>
  		<div id = "outputBar" data-bb-type="action" data-bb-style="tab" data-bb-img="images/star.png" onclick="selectOutput()">Output</div>
  		<div id = "aboutBar" data-bb-type="action" data-bb-style="tab" data-bb-img="images/rabbit.png" onclick="selectAbout()">About</div>
  		<div data-bb-type="action" data-bb-style="button" data-bb-img="images/share.png" data-bb-overflow="true" onclick="inviteBBM()">Invite to Download</div>
  		<div data-bb-type="action" data-bb-style="button" data-bb-img="images/donate.png" data-bb-overflow="true" onclick="purchase()">Tip the Developer</div>
  		<div data-bb-type="action" data-bb-style="button" data-bb-img="images/rate.png" data-bb-overflow="true" onclick="openWebLink()">Rate this app!</div>
  		<div data-bb-type="action" data-bb-style="button" data-bb-img="images/advance.png" data-bb-overflow="true" onclick="bb.pushScreen('settings.htm', 'settings');">Set Favourites</div>

  	</div>

 	 <div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/advance.png" onclick="bb.pushScreen('settings.htm', 'settings');">Set Favourites</div>
	</div> 
</div>

