<!-- 
-
-
Outpage Page
-
- 
-->

<div data-bb-type="screen" data-bb-effect="fade" style="background-color:white; color:black"> 
	<section data-role="content" >  
	<div data-bb-type="round-panel" id="Settings"> 
	<div data-bb-type="panel-header">Enter the values for favourites.</div>
		<div id="settingsForm">
			<div data-bb-type="label">Subtotal:</div> 
				<input type="number" id="subTotalDefault" x-blackberry-focusable="true"/>
			<div data-bb-type="label">Tax Percentage:</div> 
				<input type="number" id="taxPercentageDefault"/>
			<div data-bb-type="label">Tip Percentage:</div>
				<input type="number" id="tipPercentageDefault"/>
			<div data-bb-type="label">Tip Amount:</div>
				<input type="number" id="tipAmountDefault"/>
			<div data-bb-type="label">Amount Of People Splitting Bill:</div>
				<input type="number" id="splitAmountDefault"/>
			<div align="center">
				<div data-bb-type="button" style="width:40%; float:left" id="btnSave" onclick="saveDefaults()">Save</div>
				<div data-bb-type="button" id="btnClearDefaults" style="width:45%; float:right" onclick="clearDefaults()">Clear Favourites</div>
			</div>
		</div>
	</div>
	<div id="output"></div>
	</section>
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" onclick="saveDefaults()" data-bb-img="images/advance.png">Save Favourites</div>
	</div>
</div>

